/* Error: Undefined mixin.
 *    ,
 * 9  | /     @include mq-lg
 * 10 | |       display: flex
 * 11 | |       align-items: center
 * 12 | \       gap: 3rem
 *    '
 *   src/components/header/header.sass 9:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 9  \2502  \250c      @include mq-lg\a 10 \2502  \2502        display: flex\a 11 \2502  \2502        align-items: center\a 12 \2502  \2514        gap: 3rem\a    \2575 \a   src/components/header/header.sass 9:5  root stylesheet";
}
