header.header.container
  .header__logo 
    a(href="#") 
      img(src="assets/logo.svg", alt="Tokners logo")
  nav.header__navbar 
    a.btn.padding-0(href="#") Our team 
    a.btn.padding-0(href="#") Tokens 
    a.btn.padding-0(href="#") Connect wallet 
    a.btn.padding-0(href="#") Lightpaper 
    .header__login-buttons
      button.btn(type="button") Sign In
      button.btn.btn-primary(type="button") Sign In
