header.header.container
  .header__background 
    img(src="assets/bg-header.png", alt="Header background image", draggable="false")
  .header__logo 
    a(href="#") 
      img(src="assets/logo.svg", alt="Tokners logo", draggable="false")
  nav.header__navegation-menu 
    a.btn(href="#") Our team 
    a.btn(href="#") Tokens 
    a.btn(href="#") Connect wallet 
    a.btn(href="#") Lightpaper 
    a.btn(type="button") Sign In
    a.btn.btn-primary(type="button") Sign In
  button.header__navegation-button(type="button")
