footer.footer
  .footer__background 
    img(src="assets/bg-footer.png", alt="Header background image", draggable="false")
  .footer__navegation 
    a.btn.text-decoration OUR TEAM 
    a.btn.text-decoration TOKENS
    a.btn.text-decoration CONNECT WALLET
    a.btn.text-decoration LIGHTPAPER
  .footer__logo 
    a(href="#") 
      img(src="assets/logo.svg", alt="Tokners logo", draggable="false")
  .footer__socials
    a.btn.btn-radio(href="#") 
      img(src="assets/icon-twitter.svg", alt="Twitter icon")
    a.btn.btn-radio(href="#") 
      img(src="assets/icon-telegram.svg", alt="Telegram icon")
    a.btn.btn-radio(href="#") 
      img(src="assets/icon-instagram.svg", alt="Instagram icon")
    a.btn.btn-radio(href="#") 
      img(src="assets/icon-medium.svg", alt="Medium icon")
    a.btn.btn-radio(href="#") 
      img(src="assets/icon-github.svg", alt="GitHub icon")
    a.btn.btn-radio(href="#") 
      img(src="assets/icon-redit.svg", alt="Redit icon")
  .footer__copy
    p.font-weight-bold.color-white &copy; 2022 Tokners. All rights reserved.