
<header class="header container">
  <div class="header__logo"> <a href="#"> <img src="assets/logo.svg" alt="Tokners logo"/></a></div>
  <nav class="header__navbar"> <a class="btn padding-0" href="#">Our team </a><a class="btn padding-0" href="#">Tokens </a><a class="btn padding-0" href="#">Connect wallet </a><a class="btn padding-0" href="#">Lightpaper </a>
    <div class="header__login-buttons">
      <button class="btn" type="button">Sign In</button>
      <button class="btn btn-primary" type="button">Sign In</button>
    </div>
  </nav>
</header>